@import url(https://fonts.google.com/specimen/Outfit);
body{

    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;

}
div.container  
{
    width: 280px;
   height: 430px;
   margin:auto;
   margin-top: 105px;
    background-color:hsl(0, 0%, 100%);
    box-sizing: border-box;
    border: 10px;
    border-radius:20px;
    box-shadow:200px;
    padding-top:13px;
    padding-bottom:20px;
    display: flex;
    /* justify-content: center; */
    align-items:center;
    flex-direction: column;
    column-gap:0px;
    row-gap:0px;
  
  

}
.container img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: inset;
   
}
div.header h3{
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:0px;
    font-weight:700;
    font-family:Outfit;
    text-align: center;
    color: hsl(218, 44%, 22%) ;
}
div.header p{
    padding-left:25px;
    padding-right:25px;
    padding-top:0px;
    padding-bottom:5px;
    font-weight:400;
    font-size: 14px;
    color: hsl(220, 15%, 55%);
    text-align: center;
}